In [2]:
#Problem 1: Unique Words in a Sentence
sentence = input("Enter sentence: ")
words=sentence.split()
unique_words=set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'easy', 'python', 'powerful', 'is'}

In [28]:
#Problem 2: Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = None
highest_salary = 0
for name,salary in employees.items():
  if salary>highest_salary:
    highest_salary=salary
    highest_employee=name
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [20]:
#Problem 3: Find Maximum and Minimum Values
numbers = list(map(int,input().split()))
max=numbers[0]
min=numbers[0]
for num in numbers:
  if num>max:
    max=num
  if num<min:
    min=num
print("list eleents:",numbers)
print("Maximum value:", max)
print("Minimum value:", min)

45 22 89 10 66
list eleents: [45, 22, 89, 10, 66]
Maximum value: 89
Minimum value: 10

In [21]:
#Problem 4: Count Products Above a Price Threshold
li=list(map(int,input().split()))
count=0
for i in li:
    if i>1000:
        print(i)
        count+=1
print("count prices greater than 1000:",count)

 450 1200 899 1500 300
1200
1500
count prices greater than 1000: 2

In [22]:
#Problem 5: Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
count=0
total=len(attendance)
for i in attendance:
    if i=='P':
        count+=1
i=(count/total)*100
print(i)

80.0

In [23]:
#Problem 6: Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
print(set(phone_numbers))

{9876543210, 9123456789}

In [24]:
#Problem 7: Count Character Frequency
str=input()
di={}
for ch in str:
    if ch in di:
        di[ch]+=1
    else:
        di[ch]=1
print(di)

python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [25]:
#Problem 8: Convert List to Tuple
li=list(map(int,input().split()))
print("List:",li)
print("Tuple:",tuple(li))

10 20 30
List: [10, 20, 30]
Tuple: (10, 20, 30)

In [26]:
#Problem 9: Check if a Key Exists in a Dictionary
Employe={"priya":25000,
"Manish":45000}
if "Manish" in Employe:
    print("Employee Exist")
else:
    print("Employee doesn't Exist")

Employee Exist

In [27]:
#Problem 10: Calculate Average Marks
li=list(map(int,input().split()))
summ=0
for i in li:
    summ+=i
average=summ/len(li)
print(average)

 76 87 56 65 97
76.2